
body .bg-image{
  background-image: url("rovinjslika123.jpg");
  filter: blur(2.5px);
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}
.navbar{
  background-color: #000000d1 !important;
}

.card{
  display: inline-block;
  width: 80%;
  border: 1px solid black !important;
  background-color: #ffffffbf !important;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 50px;
}

.col{
}
.card-body {
  color: black !important;
  padding-left: 420px !important;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: flex-start;
}
.mojfooter{
  background-color: #000000d1 !important;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1260px){
  .card{
    display: flex !important;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 773px){
  .flex-container{
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
  }
  .card{
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px){
  .burek{
    display: none !important;
  }
  .form-control{
    width: 43% !important;
  }
  .batun{
    margin-left: 20px;
    margin-bottom: 10px;
  }
  p{
    margin-left: 20px;
  }
  .card-title{
    margin-left: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .card{
    margin-right: 0px;
  }
}
@media screen and (max-width: 1127px){
  .flex-container{
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
  }
}
@media screen and (max-width: 993px){
  .empty{
    justify-content: flex-start !important;
  }

  .btn-dark{
    display: inline !important;
  }
  .batun{
    margin-bottom: 10px;
  }
  .card-title{
    margin-top: 10px;
  }
}
@media screen and (max-width: 1199px){
  .searchbar{
    display: none !important;
  }
  .empty{
    text-align: left !important;
  }
  .searchbar2{
    display: inline-block !important;
  }
}

.batun {
  background-color: #00000014 !important;
  color: black;
  border: 1px solid #343a40 !important;
  transition-duration: 0.4s;
}

.batun:hover {
  background-color: #343a40 !important;
  color: white;
  transform: scale(1.05);
}
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  transform: scale(1.01);
}
.searchbar{
  margin: auto;
}
.empty{
  width: 300px;
  text-align: right;
  font-size: 22px;
  color: #ffffff85;
  margin-right: 15px;
}
input::placeholder{
  text-align: center;
}
.form-control{
  background-color: #76869645 !important;
  color: #ffffff !important;
}
.searchbar2{
  display: none !important;
}
.btn-dark{
  display: none !important;
}
#truncateLongTexts {
  width: 800px;
  height: 266.8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
