html,body{
  color: #ffffffa3 !important;
  height: 100%;
  font-family: 'Numans', sans-serif;
}
.navbar{
  background-color: #000000d1 !important;
}
.searchbar2{
  display: none !important;
}
.searchbar{
  display: none !important;
}
.empty{
  width: 300px;
  text-align: right;
  font-size: 22px;
  color: #ffffff85;
  margin-right: 15px;
}
.bgimage{
  background-image: url("https://www.elsevier.com/__data/assets/image/0008/199205/Chemistry-summer-image.jpg");
  filter: blur(3px) !important;
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}
input::placeholder{
  text-align: center;
}
.form-control{
  background-color: #0000009e !important;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  background-color: black !important;
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.75) !important;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover{
  color: white;
  cursor: pointer;
}

.card-header h3{
  color: white;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.remember{
  color: white;
}

.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: white;
  background-color: black;
  width: 100px;
}

.login_btn:hover{
  color: black;
  background-color: #2ba7ff;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}
.boja{
  background-color: #000000d1 !important;
  line-height: 0.2;
}
.footerText{
  justify-content: center;
}
